<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2048</title>
  </head>
  <body>
    <h1>2048</h1>
    <p>Score</p>
    <p>Best</p>
    <p>Play 2048 Game Online</p>
    <p>Join the numbers and get to the 2048 tile!</p>
    <p>
      How to play: Use your arrow keys to move the tiles. When two tiles with
      the same number touch, they merge into one!
    </p>
    <button>New Game</button>
    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
